<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="filter">Filtrer</span>
    </div>
    <input type="text" class="form-control" data-table="table" data-count="#count" placeholder="Texte pour filtrer..." aria-label="Filtre" aria-describedby="filter">
</div>
