<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">PeinturJS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/tableaux/print">Tableaux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tableaux/prix">Prix</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tableaux/print">Expositions</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/parametres/techniques">Techniques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parametres/sujets">Sujets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parametres/supports">Supports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parametres/cadres">Cadres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parametres/stockages">Stockages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parametres/tailles">Tailles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parametres/cotes">Côtes</a>
      </li>
    </ul>
  </div>
</nav>
